[2020-06-12 05:41] RattanaChhin opened #4 "installation guide on window 10"
Dear Developer of VORTEX,

Thank you for developing this great software.

I want to install this software in window PC.
When I extract the software, I don't find any guide to install the software and also user manual.

Thank you for your guidance.

Sincerely yours,

[2020-08-10 01:16] danhamill opened #5 "Surface Pressure Grid Import"
I have been using `importer` to import RTMA pressure grids.   It appears that the c part is assumed to be `PRECIPITATION`.  Can you guys set up the `.grib2` extension to read the c-part from `GRIB-COMMENT`?

Or, can you make the c-part field editable during the import dialogs?

I am using `voretx 0.9.2`

[2020-08-10 02:11] tombrauer commented on #5
It looks like the "pr" in pressure caused the logic to jump into the branch statement for precipitation. "pr" is sometimes given as the variable for precipitation rate. I just made fix to better handle pressure and published a new release: https://github.com/HydrologicEngineeringCenter/Vortex/releases/tag/v0.9.3-rc.1

We don't have any C-Part or units conventions in HMS for pressure so I went with

[2020-08-10 13:59] danhamill commented on #5
@tombrauer c-part name "pressure" seems good.  Is "PA" a shorthand or is if for pascal units?  Tested the new release and everything seems in order.

[2020-08-10 21:36] danhamill opened #6 "Feature Request: Additional logging information"
It would be nice if you could add some additional logging information in the terminal when you launch `importer.bat`

1. ) Number of selected files on the initial file selection menu
2.) Path to selected shapefile

I have found that either I am not selecting all the files in the initial step (maybe window explorer is slow to load) or vortex is not processing all the rasters.  Either way, it would

[2020-08-10 21:40] danhamill opened #7 "Feature Request: Specify number of CPU's available for processing"
It would be a nice feature if you could specify the number of CPU's available for processing when using 'importer`.   I have been crunching through a lot of hourly data and my CPU is ~100% allocated while data are being processed.

[2020-08-10 22:00] danhamill commented on #6
After watching the terminal for a while I saw:

[code]
What seems interesting is that the missing file indicated in the file path indicated by `java.io.FileNotFoundException: ` is not the same as `SEVERE: GeoGrid.getdataSlice() ` file path.

[2020-08-11 00:08] tombrauer commented on #5
@danhamill Yes - I used "PA" for Pascal. I checked the HMS code base today. I looks like I got the C-Part of "PRESSURE" right but kilopascal, "KPA," is actually the preferred unit for pressure. Uploading a 0.9.3-rc.2 build with the update now.

[2020-08-11 00:13] danhamill commented on #5
Will this utility convert from Pa to kPa?  The RTMA grids have a native unit of Pa, so somehow I need to convert.  Is there another utility in `vortex` that can perform this calculation before `importer` ?.

[2020-08-11 00:20] tombrauer commented on #5
You can do it, but it's a little clunky. The `transposer` utility has a scale factor option. So you could scale grids by 0.001. The `sanitizer` has ability to override DSS units. So you could convert existing grids from "PA" to "KPA". Personally, I'd probably re-import.

[2020-08-11 00:33] danhamill commented on #5
I don't understand how `sanitizer` works.  Does it use data already in DSS or will it perform raster math on individual raster datasets ( i.e. .tif, .grib, etc.)?

If its the former, I am also hesitant to rely on an internal dss conversion.

[2020-08-11 00:49] tombrauer commented on #5
All of the vortex tools read data into an in-memory object, do operations, then write out. Several readers have been implemented, e.g. DSS, ASC, NetCDF. The only writer implementation is DSS. So, it shouldn't matter which format the data is read in from.

[2020-08-11 01:31] tombrauer commented on #7
The code currently uses the max number of cores available to the JVM. You can control this setting on launch by using `-XX:ActiveProcessorCount=nn`.

The *.bat file would look something like this:

[code]

[2020-08-11 15:22] #7 closed

[2020-08-23 18:20] danhamill commented on #6
Any thoughts on why this is happening?  Using the newest release, I am not getting an "Import Complete" message when no DSS records are in the output file.

[2020-08-23 18:43] tombrauer commented on #6
Can you upload your data file? I'll try to reproduce. It looks like you can upload in the chat. If it's too big I can send instructions for uploading to our dropbox.

[2020-08-24 15:42] danhamill opened #8 "Question: Convert deg C to deg F"
Can Vortex be used to convert grid units degC to degF?

[2020-08-24 21:11] danhamill opened #9 "Create Example"
Can you create an example script showing how to use Clipper using Jython?  Specifically, I am interested in seeing how to write a script to clip all grids in a specified dss file.

Thanks!

[2020-08-24 22:02] tombrauer commented on #8
You can change the units string but there is not currently any capability to do a raster calculator type operation on the grid values. For HMS, we usually leave the temperature data as degrees C because HMS will do data conversions on the fly. The internal engine calculations are actually all done in metric, with a few exceptions.

[2020-08-24 22:30] tombrauer commented on #9
Dan - I put an example here: https://github.com/HydrologicEngineeringCenter/Vortex/wiki/Grid-clipping-script-example. Jython is tricky sometimes. Let me know if you have any trouble.

[2020-08-24 22:41] danhamill commented on #9
Thanks.  I do need tom help.  If I am importing an individual .asc raster, how/where can I set the time stamp?

For example If I have the .asc file I exported using `image_exporter`:

[code]

I created this function to parse the date time from the file path to a HEC like e-part string

[code]

I set the options:

[code]

I see the correct string in the path name, but it complains that there is no

[2020-08-24 22:57] danhamill commented on #9
How does hms deal with time zones?  All the RTMA data are in UTC.  Does it localize the timestamp in the model?

I saw the time shifter, but that doesn't appear to correct for day light savings.

[2020-08-25 13:43] danhamill commented on #9
Instead of `selectAllVariables()`, how could I select all paths with a specific b-part.  I am looking to clip all "Willow Creek".

[2020-08-25 14:55] tombrauer commented on #9
Rather than `selectAllVariables()`, you can use the `variables(List<String> variables)` method in the builder to pass in a list of DSS paths.

[2020-08-25 14:57] danhamill commented on #9
can you get a list of DSS pathnames using the vortex api?

[2020-08-25 14:59] tombrauer commented on #9
You should use the DSS scripting API to extract pathnames from a DSS file.

[2020-08-25 15:14] #9 closed

[2020-08-25 15:18] danhamill opened #10 "Clipper and Importer yield different size grids"
I have produced temp, precip, and snodas grids using `vortex`.  The precip and temp data sets have the same extents:

![image](https://user-images.githubusercontent.com/11522898/91192808-63c42980-e6c4-11ea-80c7-8f3e22b02df0.png)

![image](https://user-images.githubusercontent.com/11522898/91192851-6d4d9180-e6c4-11ea-8d35-30d25e767cd7.png)

The SNODAS grids have a different origin.

![image](https:

[2020-08-25 17:35] tombrauer commented on #10
How did you arrive at these grids? If you used the importer with the same clipping datasource, the extents should be the same. You could always try creating a shapefile that bounds the smallest grid, in this case SNODAS, then clip the other grids with it.

[2020-08-25 19:01] danhamill commented on #10
I used the same shapefile.  After more testing, clipping using the importer yields a smaller grid than clipping from the importer.

**Clipped using Importer**
![image](https://user-images.githubusercontent.com/11522898/91215444-8402e100-e6e2-11ea-95f9-584645f02e19.png)

**Clipped using Clipper**
![image](https://user-images.githubusercontent.com/11522898/91215598-bad8f700-e6e2-11ea-81e0-f698440af7

[2020-08-25 19:39] tombrauer commented on #10
Ok, good to know. It looks like the `clipper` result has a rounding error. I will try to clean that up. The two use different algorithms since the `importer` also includes functionality to resample for grid cell size and CRS. I'd stick with clipping via the importer tool until a fix is in place.

[2020-08-25 19:53] danhamill commented on #10
I've been there.  Thanks!

[2020-08-26 22:02] danhamill opened #11 "Grid to point converter gives a time series of integers"
When I use the grid to point utility, I get a time series of integer values.

Here is shapefile:
[Willow_Creek.zip](https://github.com/HydrologicEngineeringCenter/Vortex/files/5132917/Willow_Creek.zip)

Here is a DSS file with grids
[input_dss_grids.zip](https://github.com/HydrologicEngineeringCenter/Vortex/files/5132925/input_dss_grids.zip)

Here is a file with the expected results
[Expected_Zona

[2020-08-27 23:39] tombrauer commented on #11
Dan, can you send the dss grids again? I'm not sure what happened with them but the zip is empty. You can also send via the HEC dropbox or via MS Teams.

[2020-08-28 00:42] tombrauer commented on #10
@danhamill I was able to reproduce the issue with a dataset of my own and implement a fix. If you don't mind testing with your dataset I would appreciate it. Fixed in version is v.0.10.1: https://github.com/HydrologicEngineeringCenter/Vortex/releases/tag/v0.10.1

[2020-08-28 00:52] danhamill commented on #10
Great.  I have a dataset I need to work up.  I’ll let you know the results.  

Nice work!
nnk2193 <notifications@github.com> wrote:
“@danhamill I was able to reproduce the issue with a dataset of my own and implement a fix. If you don't mind testing with your dataset I would appreciate it. Fixed in version is v.0.10.1: https://github.com/HydrologicEngineeringCenter/Vortex/releases/tag/v0.10.1”

—

[2020-08-28 00:58] danhamill commented on #11
I'll try again tomorrow.   I've had other problems with uploading zip archives lately.

[2020-08-28 14:03] danhamill commented on #11
How about this upload.

[Input_Dss_Grids.zip](https://github.com/HydrologicEngineeringCenter/Vortex/files/5142485/Input_Dss_Grids.zip)

[2020-08-28 14:37] danhamill opened #12 "WARNING: An illegal reflective access operation has occurred"
When you launch a utility, I see the error:

[code]

I am not sure what this means, but it suggests you might want to report this somewhere.

[2020-08-28 15:07] danhamill commented on #10
Clipper yields the correct extents now!  :rocket: :rocket: :rocket: :rocket:

[2020-08-28 15:07] #10 closed

[2020-08-28 16:32] tombrauer commented on #11
Good deal, I have the grids now. I wonder if there's a expiry on file exchanges...

I'll let you know what I find, once I get a chance to dig in.

[2020-08-28 19:38] tombrauer commented on #12
@danhamill are you launching from source? Let me know if you need any help setting up a dev environment.

I noticed this warning after the migration to Java 11. It has to do with java's new module system. Anyhow, I think the problem will be resolved when I upgrade to NetCDF's Java 11 compliant 5.* or 6.* series jars. I haven't made the change yet because it'll require some updates on my part for t

[2020-08-29 00:23] tombrauer commented on #11
I ran the `grid-to-point-converter` with your dataset. I spot checked a few values with you expected values spreadsheet and the values look really similar (screen cap below). Good to know.

![image](https://user-images.githubusercontent.com/9610094/91624037-fa0d7f00-e952-11ea-9dbb-dd6385488c4d.png)

I wasn't able to reproduce the integer time-series issue. Maybe you have a bad version of HEC-DSS?

[2020-08-29 01:24] danhamill commented on #11
Hmm.  Maybe it is my version of dss.  I’ve been bouncing between 3.0.00.212 and 2.6.   I’ll check tomorrow.  

Your results appear correct to me.  I’ll report back.  Thanks for checking!
nnk2193 <notifications@github.com> wrote:
“I ran the grid-to-point-converter with your dataset. I spot checked a few values with you expected values spreadsheet and the values look really similar (screen cap below

[2020-08-29 02:11] tombrauer commented on #11
@ktarbet can you get @danhamill a new build of HEC-DSSVue? I am working with v.3.0.1.125

[2020-08-29 13:54] danhamill commented on #11
Confirmed the version 3.0.00.22 is a wonky version of DSS.  When I review the `grid to point` results in dss 2.6, I am seeing an output similar to your demonstration.

[2020-08-29 14:05] tombrauer commented on #11
Ok, good to know. Be careful with the 3.* DSSVue builds. They are all unofficial and are all broken in one way or another. I will say - I've been v.3.0.1.125 for about a month now, and haven't found any bugs 🤞

[2020-08-29 14:05] #11 closed

[2020-08-29 14:35] danhamill commented on #11
I think the only reason 3.0.00.22 was on my radar was because you could directly import soil moisture data from snotel.

[2020-08-29 15:58] tombrauer commented on #11
Snotel should be a plugin. If that's the case you can drag and drop it into any DSS build.
![image](https://user-images.githubusercontent.com/9610094/91640897-bdcf3280-e9d5-11ea-8e21-442f25a4c7d9.png)

[2020-08-29 16:11] danhamill commented on #11
:shipit::shipit::shipit::shipit:

[2020-08-31 15:12] ktarbet commented on #11
yes, on the way.

[2020-08-31 18:15] danhamill commented on #11
@ktarbet  Thank you, download received.

I downloaded and extracting the new build of DSS, I am having the same issue.   I found if i change the precision in tabulate, i see the additional digits.  Where can I globally set the tabular precision?  I cant seem to find any menus for default program settings.

[2020-08-31 19:25] ktarbet commented on #11
I see the same issue,  the number of decimals selected is not saved between tables.  I've added this to our internal Issue tracker.

![image](https://user-images.githubusercontent.com/4818531/91758460-eb0e1300-eb84-11ea-92d5-f21765f9d2da.png)

[2020-08-31 19:34] danhamill commented on #11
That't the menu I found too.  Is there a way to export the data to excel with the desired precision?

[2020-09-02 15:15] ktarbet commented on #11
@danhamill  The export should be including all decimal places in the floating  point number.   In Excel you can format to desired style.

[2020-09-08 19:17] #8 closed

[2020-09-08 19:18] #5 closed

[2020-09-08 19:28] danhamill opened #13 "Dataset Support: UA SWE"
It would be nice if `vortex` could support the University of Arizona's SWE and snow depth data .  The data are located:

https://climate.arizona.edu/data/UA_SWE/

U of A has assembled the data in NETCDF format.  `importer` seems to parse the time series, but the dss grids are all zeros.  The logging information indicates there was a buffer error before each `ZWRITE` print out.

[code]

[2020-09-13 15:28] danhamill opened #14 "Repo Citation"
How would like this repository cited in a paper?  If its allowed, I would suggest creating a [zenodo doi](https://zenodo.org/) for this project.

[2020-09-13 22:40] tombrauer commented on #13
@danhamill I just updated some logic to accommodate the UA SWE dataset. Fixed-in version is 0.10.3: https://github.com/HydrologicEngineeringCenter/Vortex/releases/tag/v0.10.3

[2020-09-14 13:17] danhamill commented on #13
Thanks!  We have found the UA dataset as good alternative to SNODAS,  He seems to near real-time production on that server.  Maybe we can get Brett to include it in cumulus someday.

[2020-09-14 14:43] danhamill commented on #13
Any ideas why it wont read a daily grid?  The dss time stamp is wonky after you run `importer`

[2020_03_22.zip](https://github.com/HydrologicEngineeringCenter/Vortex/files/5219161/2020_03_22.zip)

When I open it using the python library `rioxarray` it complains about `time_str`, but after inspection everything looks fine.

[2020-09-18 04:16] tombrauer commented on #13
I'm not sure that the date handling in the netcdf library was getting it right. The start date was double from what it should have been, i.e. 2140 instead of 2020 referenced from 1900. I think this being a single grid without grids before or after it might have confused the netcdf library logic. I added special date-handling logic for this dataset.

[2020-09-18 04:17] tombrauer commented on #14
Added. Thanks for the tip.

[2020-09-18 12:40] #14 closed

[2020-09-18 12:42] danhamill commented on #13
Great, thanks!

[2020-09-18 12:42] #13 closed

[2020-09-18 13:09] danhamill opened #15 "Normalizer Broken in versions > 0.9.3-rc.2"
`normalizer` fails to execute on versions > 0.9.3-rc.2

[code]

Do normalizer peform a cell-by-cell or grid-by-grid normalization?

[2020-09-18 13:56] danhamill commented on #15
Or it could be I am using it wrong.

[2020-09-21 13:14] danhamill commented on #15
Is the procedure described in the technical details section for [Mountain Mapper](https://vlab.ncep.noaa.gov/web/wdtd/-/qpe-mountain-mapper) what this tool does?

[2020-09-21 13:37] tombrauer commented on #15
@danhamill I don't know that the vortex normalizer exactly reproduces the Mountain Mapper procedure, but it is similar in concept. The normalizer was built out of necessity on Mike's Truckee River study when we noticed the MRMS volumes were low in the mountainous regions. The PRISM volumes over the same area looked more realistic. So, I built the normalizer to normalize the QPE hourly volumes to t

[2020-09-21 13:41] tombrauer commented on #15
One trick is that the normalizer looks up grid cell values by array index. This makes the normalizer performant, but also requires the user to do some pre-processing, e.g. source grids must be the same dimensions. I'm not sure if this is the issue you're running into or not. If you continue to have problems, send me your data and I'll take a look.

[2020-09-21 15:50] danhamill commented on #15
Thanks for the details.

How does the grid selection work?  If you select a specified time period from the initial MRMS dss file, do you need to select the same dates from the PRISM file?

[2020-09-22 04:03] tombrauer commented on #15
I was able to get the normalizer up and running again but had to remove the DatePickers. It looked like they were failing to respond to events in newer versions of the JavaFx libraries.

https://github.com/HydrologicEngineeringCenter/Vortex/releases/tag/v0.10.5

[2020-09-22 04:10] tombrauer commented on #15
Yes, the grids should be coincident. The algorithm goes based on the normalization interval that is selected. If the normalization starts on 1/1/2020 12:00 and the normalization period is 1 day, the algorithm will find all "source" grids, and "normals" grids during the period 1/1/2020 12:00 to 1/2/2020 12:00, then calculate the total volume over that interval on a grid cell by grid cell basis. A r

[2020-09-22 20:08] danhamill opened #16 "`importer` interpolating with input grids no data value"
When I run `importer` to clip and resample a daily UA grid to the Truckee Watershed, its interpolating with the input grids nodata value in the lake Tahoe region.

Input grid: [2020_03_22.zip](https://github.com/HydrologicEngineeringCenter/Vortex/files/5263748/2020_03_22.zip)

clipping shape: [TruckeeBasinShapefile.zip](https://github.com/HydrologicEngineeringCenter/Vortex/files/5263754/TruckeeBas

[2020-09-22 21:30] tombrauer commented on #16
Long term solution: I should probably give the user more control over specifying no data values for source data. Short term solution: you can use the `sanitizer` utility to clean up values above or below a threshold. I would try running the sanitizer on the input grids. When you filter values below a threshold, try leaving the replacement value blank. This should replace values with NaN which is w

[2020-09-23 15:47] danhamill opened #17 "'grid_to_point.exe' launches clipper"
Hey Tom,

A co-worker of mine found another bug.  If you launch `grid_to_point` from the executable, it pulls up `clipper`  shapefile selecting menu.

![image](https://user-images.githubusercontent.com/11522898/94036246-1950ce00-fd92-11ea-9f17-508cea8e19bc.png)

It should look like:

![image](https://user-images.githubusercontent.com/11522898/94036372-3d141400-fd92-11ea-92d9-5b9e1b2cef03.png)

If

[2020-09-23 19:08] danhamill commented on #16
I will give it a try.  That sounds like a reasonable workaround.   Thanks!

[2020-09-24 01:51] tombrauer commented on #17
Thanks for letting me know. The *.exe was launching the wrong *.jar. Fixed in v.0.10.6. https://github.com/HydrologicEngineeringCenter/Vortex/releases/tag/v0.10.6

[2020-09-24 01:51] #17 closed

[2020-09-24 01:52] #12 closed

[2020-09-28 19:21] danhamill opened #18 "Import gtiff with timestamps"
Tom,

Is there a way to import a Gtiff and get vortex to assign a timestamp?

Could it be looking for a particular time stamp format in the input file name?

Thanks,

Dan

[2020-09-29 03:03] tombrauer commented on #18
I imagine this would be handled very similar to ASCII. Short of being a "self-describing" file format like NetCDF or HDF most ASCII data providers put things like variable type and datetimes into the file name. This makes it difficult to consistently parse all files of a given format but if there are known conventions from a data provider, e.g. PRISM, the file name can appropriately be parsed. Do

[2020-09-29 13:25] danhamill commented on #18
I am needing to calculate a derivative product from RTMA.  Sometime in 2019, IA mesonet stopped serving the wind speed dateset.  Instead, they are now serving a the u-v components of wind speed.  I want to perform the calculation and write a file like:

[code]

Where the dates are in iso format that doesn't have seconds.

[2020-09-29 15:26] danhamill commented on #18
If ASCII is easier, here is an example of what I will need to import:

[Example_windSpeed.zip](https://github.com/HydrologicEngineeringCenter/Vortex/files/5300135/Example_windSpeed.zip)

Personally, I think TIFF's are easier to manage since the projection data are in encoded in image and you can compress the image.

[2020-09-30 18:47] Shamsalamin opened #19 "Batch processing multiple grid data to create timeseries in grid to point converter"
I am trying to create a DSS timeseries out of 24 GRIB format hourly precipitation files. using the grid to point converter. I don't seem to able to add more than 1 file at a time. Is it possible to add mutliple grib files and generate the timeseries using this utility?
Thanking you in anticipation.

[2020-09-30 20:04] tombrauer commented on #18
I added support for your windspeed grids. I tested using GeoTIFF but it should work for ASCII as well. https://github.com/HydrologicEngineeringCenter/Vortex/releases/tag/v0.10.8

There were no units associated with the grid so you'll probably need to use the sanitizer to assign units.

I should also mention, you could try checking with NCEI to see if they have the windspeed grids. I would email: n

[2020-09-30 20:12] tombrauer commented on #19
Hello @Shamsalamin,

The `grid-to-point-converter` is working under the premise that you have one file with many internal gridded records. This is common for HEC-DSS and NetCDF file formats, but not as common with GRIB. I recommend using the `importer` utility to read your grids into HEC-DSS format, then using the `grid-to-point-converter` utility to convert the gridded DSS records to point time-s

[2020-10-01 14:56] danhamill commented on #18
Excellent. Thanks, Tom!

Thanks for the tip for checking with NCEI about the data.  I sent in a data request.

[2020-10-01 14:56] danhamill commented on #18
Do you know what the native projection of RTMA grids??

[2020-10-01 15:22] tombrauer commented on #18
Let me know how the request goes. I've never requested RTMA.

Yes, I believe they're Lambert Conformal Conic. You can run gdalinfo on the grib files. It looks like this paper has the specs: https://journals.ametsoc.org/waf/article/26/5/593/39566/The-Real-Time-Mesoscale-Analysis-at-NOAA-s

[2020-10-01 15:37] danhamill commented on #18
From the NCEI data Request:

[2020-10-01 15:41] tombrauer commented on #18
Ok, good to know on RTMA. Looks like solid leads. I've used the 14th WS in the past and had a good experience. Just not sure if they have will have the RTMA grids. I've never tried NDGD.

[2020-10-01 17:25] danhamill commented on #18
Just tested the new import and everything looks good.

I sent an inquiry to the 14th WS.  I'll let you know how it goes.

[2020-10-01 17:25] #18 closed

[2020-10-01 17:58] Shamsalamin commented on #19
Hi @tombrauer ,
Thanks! That did work. One thing though- I noticed when I was trying to use the importer plugin to import the whole grid file it was showing empty DSS (after using the grid to point plugin). But when I used the clipping option using a shape file in the Importer  step and then used the grid to point it went smoothly. Nonetheless, definitely a great tool and timesaver for what we are

[2020-10-02 02:50] tombrauer commented on #19
If you're not already, I recommend using a v.3.* build of HEC-DSSVue. You can download here: https://www.hec.usace.army.mil/software/hec-dssvue/downloads/dev/

Hopefully that fixes the empty grid issue. If there is something else going on, feel free to report.

[2020-10-13 14:17] danhamill opened #20 "Importer Fails to interpret provisonal PRISM data"
IF you try and import a provisional grid from PRISM, importer fails to import a grid to dss

Data:
[PRISM_ppt_provisional_4kmD2_20200723_bil.zip](https://github.com/HydrologicEngineeringCenter/Vortex/files/5371937/PRISM_ppt_provisional_4kmD2_20200723_bil.zip)

Logging:
[code]

[2020-10-15 18:25] danhamill commented on #9
Is the DSS scripting API documented somwhere?

[2020-10-15 18:32] tombrauer commented on #9
Yes, It's in Ch.8 of the DSSVue User's Manual: https://www.hec.usace.army.mil/confluence/dssvuedocs/latest/chapter8-scripting

If you like CPython, also worth checking out: https://github.com/gyanz/pydsstools

@ktarbet is the POC for HEC-DSS.

[2020-10-15 19:04] danhamill commented on #9
Thanks, I am familiar with pydsstools.  I use it reguarlly.

I'm having a hard time accessing the API from a system jython.  I wrote
to Karl.  

-D

On October 15, 2020, nnk2193 <notifications@github.com> wrote:

—
You are receiving this because you modified the open/close state.
Reply to this email directly, view it on GitHub
<https://github.com/HydrologicEngineeringCenter/Vortex/issues/9#issueco

[2020-10-19 18:00] danhamill opened #21 "Multiprocessing error from jython script."
Tom,

I am developing a jython workflow to process data for several basins and I am running into `java.lang.OutOfMemoryError: java.lang.OutOfMemoryError`.  Have you seen this before?

If I assign the constructed `BatchImporter.builder()`  to `my_import` from a jython terminal and run `my_import.process()`, I see this:

[code]

If you execute the code from a python file, it throws a the `java.lang.

[2020-10-19 18:43] tombrauer commented on #21
Dan, are you clipping the data on import? I've seen this before when high-resolution data is being imported unclipped. This runs up the memory pretty quickly. I thought the batch importer was using a relatively safe batch size of 1 during import, but maybe something is happing differently when accessing via the API as opposed to the UI. You could try controlling the batch size of your data by only

[2020-10-19 19:12] danhamill commented on #21
I am clipping the data to a HUC4 watershed.  I tried reducing the input grids to one and keep getting the same error.  Here is my jython script:

[code]

Is `geo_options.add('resamplingMethod', 'Bilinear')` correct?

[2020-10-19 21:34] tombrauer commented on #21
`geo_options.add('resamplingMethod', 'Bilinear')` is correct.

Are you able to reproduce the out of memory error with a really simple test case? I.e. distill your script to a single file import. If you're able to isolate the issue and reproduce that'll help me troubleshoot.

[2020-10-19 22:27] danhamill commented on #21
Sure.  See attached.  If you process all five grids in `data` I get the memory error shown above. If you only process two of the grids in `data` you get a resampler error:

[code]

[multi_grib.zip](https://github.com/HydrologicEngineeringCenter/Vortex/files/5405189/multi_grib.zip)

[2020-10-20 03:56] tombrauer commented on #21
Thanks for the test case. I was able to run the script by upping the memory spec for the JVM. I used `-J-Xmx2g`, to specify 2 gigabytes for the JVM, for example:

`C:\Programs\jython2.7.2\bin\jython.exe -J-Xmx2g -Djava.library.path=%VORTEX_HOME%\bin;%VORTEX_HOME%\bin\gdal .\import_grib.py`

Hopefully that works for you!

[2020-10-20 11:12] danhamill commented on #21
Yes That worked.

![image](https://user-images.githubusercontent.com/11522898/96578688-9abd5280-12a3-11eb-9751-72c444b031cb.png)

[2020-10-20 11:12] #21 closed

[2020-10-20 13:51] #15 closed

[2020-10-20 13:51] #19 closed

[2020-10-20 14:05] danhamill commented on #21
I think it would be helpful to update the wiki.   The the JVM memory spec flag `-J-Xmx2g` and the resampling argument `geo_options.add('resamplingMethod', 'Bilinear')`  for the jython script.  I don't think you can submit a PR for wiki pages.

[2020-10-20 19:37] tombrauer commented on #21
Agree! I'll make that update. Thanks!

[2020-10-27 18:37] cheginit opened #22 "Linux and MacOS builds fail"
I tried building the project with `./gradlew build` on Ubuntu and MacOS, and both failed with the same error. I have JDK11 installed on both systems.

[code]
Here's the output with `--stacktrace`:

[code]

[2020-10-29 01:30] tombrauer commented on #22
@cheginit thanks for reporting this issue. It looks like it's related to the recent update I made adding a publishing task to the vortex-api build script. I'll try to update the publish process so that the maven credentials are passed on the command line rather than specified in the publish task. If you want to work around you can include a `gradle.properties` file in the usr/.gradle directory tha

[2020-10-29 01:37] cheginit commented on #22
Thanks, appreciate it. Vortex is a very handy package and can help speed up the HEC workflow quite a bit, so thanks for all the hard work.

[2020-11-16 19:35] tombrauer commented on #22
Update: I moved the maven credentials specification out of the build script so the reported issue should no longer be a problem. @nickvan612 added logic for a linux build in the main build script so you should be able to build a linux distribution package from source. I'll add the linux distribution as a release asset the next time I release a new version. We're waiting for an update to GDAL on th

[2020-11-16 19:37] tombrauer commented on #22
Another note: I'm guessing you won't be able to get the LFS objects that are used for testing. If that's the case, use `gradlew build -x test` to build.

[2020-11-16 21:29] cheginit commented on #22
That's great news! Thanks for the update.

I just built Vortex on my Linux machine with `./gradlew build -x test` and it finished successfully.
[code]

But when I tried to run it I got the following error:

[code]
Probably this line is an issue?:
[code]
Let me know if you want me to run it with `--stacktrace`.

[2020-11-24 03:23] tombrauer commented on #22
@cheginit I'm able to reproduce, but am not sure of the solution. I was able to launch the build version via the shell script but can't launch from source via the gradle run task. I don't do too much dev on the linux platform - the primary platform of our agency is Windows. If you're able to find a solution, please let me know.

[2020-11-24 16:08] cheginit commented on #22
I understand. Thanks, will let you know.

[2021-01-12 01:41] tombrauer commented on #20
I added handling logic for PRISM provisional data. This should be fixed in v.0.10.14.

[2021-01-12 01:41] #20 closed

[2021-01-12 15:45] danhamill commented on #20
@tombrauer Sweet!

[2021-04-14 16:11] #22 closed

[2021-04-27 19:20] danhamill opened #28 "cant open grid-to-point-converter"
I cant open grid-to-point-converter using the .bat or .exe file in vortex 0.10.20.

When I try and open the program with the .bat file two .dll files appear in the bin directory.  Highlighted below:

![image](https://user-images.githubusercontent.com/11522898/116299612-e88fa780-a76b-11eb-9c9a-64e2686b7852.png)

the command prompt shows:

[code]

[2021-04-27 19:41] tombrauer commented on #28
The two dlls are extracted by the UI library JavaFX. No concerns there.

Are you on a USACE ACE-IT machine? There's a chance antivirus could be interfering with the process. Do you have a VM or personal machine you can test on?

[2021-04-27 20:57] danhamill commented on #28
I am on a RDE machine, which I have admin rights on.  I see this warning when I try and launch the bat file:

![image](https://user-images.githubusercontent.com/11522898/116304416-8d13e880-a770-11eb-88cc-a36f5d1725a1.png)

I click run and the terminal pops up, but eventually hangs up,

If I build from the source, I see:

[code]

[2021-04-27 22:46] tombrauer commented on #28
I just tested launching on my ACE-IT and dev machines and didn't have any trouble. I'd check anti-virus logs if you have them to make sure you're not getting interference.

For running from source, try running `gradlew refreshNatives`. That should download natives to a `bin` directory in the project root. I can see from your log `gdalalljni` is looking for a native link in `Vortex/bin`.

[2021-04-28 00:47] danhamill commented on #28
Any idea where to find those? 

I tested on another computer and it worked.

I really don’t understand why I can run some vortex utilities and this
one fails.  I tried and old version 0.10.10 and it wouldn’t run either.
 I know I used grid to point in 0.10.0 before. 

On April 27, 2021, nnk2193 ***@***.***> wrote:

—
You are receiving this because you authored the thread.
Reply to this email direc

[2021-04-28 13:39] danhamill commented on #28
I am trying to come up with a scripting workaround to my computer issues, but I am getting the following error:

[code]

From this jython script:

[code]

Is there something special I need to do to get it to read the shapefile path?

[2021-04-28 14:22] tombrauer commented on #28
On my machine the logs are most commonly found in C:\ProgramData\McAfee\Host Intrusion Prevention. I usually have an IT person help walk me through them. Based on your description it sounds like McAfee is interfering with the process and shutting down native libraries. I'd have an IT person try to change your policies so that you can run the program without interference.

As a work-around, you cou

[2021-04-28 14:28] tombrauer commented on #28
It looks like `pathToFeatures` is expecting a `java.nio.file.Path` and you are supplying a `String`. You'll need to wrap the `String` in a path, e.g. `clip_shp = Paths.get("C:\workspace\Mo River\shp\MissouriRiverBasin_alb.shp")`. You probably need to add an import statement for `Path` e.g. `from java.nio.file import Path`. You may have to add one for `Paths` as well, e.g. `from java.nio.file impor

[2021-04-28 14:33] danhamill commented on #28
Progress!!  After wraping the clip_shp and output_dss file paths, I am now seeing:

[code]

[2021-04-28 15:26] tombrauer commented on #28
Ah, I think I see the issue. GridToPointConverter is expecting a set of variables, i.e. DSS pathnames, as an argument as well. If you're looking to convert all records in a HEC-DSS file, you'd need to use some Jython HEC-DSS commands to get the list of records from an HEC-DSS file so that it could then be passed to the GridToPointConverter. I'm sure it can be done; I'm not sure of the commands off

[2021-04-28 15:36] danhamill commented on #28
Can we use `DataReader`?  I found that from an [example](https://github.com/HydrologicEngineeringCenter/Vortex/blob/master/examples/src/main/jython/normalize.py) you created

[code]

[2021-04-28 15:41] tombrauer commented on #28
Yes! That's what you will need to add.

[2021-04-28 15:43] tombrauer commented on #28
Once you get this script working, do you mind creating a grid-to-point-converter example similar to the others? I'll see if I can get you access to the page.

[2021-04-28 15:47] danhamill commented on #28
Sure!

[2021-04-28 15:48] tombrauer commented on #28
I added you to the repo. I hope that does the trick.

[2021-04-28 15:51] danhamill commented on #28
I got the invite.  Do we want to put them in examples or on the wiki?

[2021-04-28 16:17] tombrauer commented on #28
Start with the wiki, if you want to add in the examples, that's cool too. Thanks!

[2021-04-28 19:06] danhamill commented on #28
If I find anything useful about why grid-to-point-converter won't run on my desktop, I'll post it here.

Otherwise, I added a sanitizer and grid-to-point-converter scripts to `examples` and the wiki.

[2021-04-28 19:06] #28 closed

[2021-05-04 01:20] PowIlove opened #29 "importer failed one record"
hi, i am having problems with this script, when i imported the grb files format to dss file i have been problems with result o the records because if i got 24 dates of precipitation daily just i get 1 record in my document dss and not get 24 files of precipitation
![image](https://user-images.githubusercontent.com/59849903/116951099-e16d0b80-ac3b-11eb-85dc-ea8436c1f50d.png)

i have other question,

[2021-05-04 03:38] tombrauer commented on #29
Greetings @PowIlove, Can you upload a zip file with your *.grb files?

We've done some work to make multi-platform Vortex distributions but I've only been posting builds for Windows x64. Which platform are you looking for?

[2021-05-04 04:13] PowIlove commented on #29
hello @tombrauer yes of course immediately i upload the zip; referent to platform i am using vortex v0.10.20. i remember that had to use JDK cause the begining i can't to open the script of import (appeared errors) but later that put the JDK and i can to open and run the script but later appear it with this mistake of only one record in dss file.
[NLDAS_GRB_ONEDAY_DATA.zip](https://github.com/Hydr

[2021-05-04 04:15] PowIlove commented on #29
`C:\vortex-0.10.20\bin>SET "PATH=.\gdal;C:\Program Files\Common Files\Oracle\Java\javapath;C:\Windows\system32;C:\Windows;C:\Windows\System32\Wbem;C:\Windows\System32\WindowsPowerShell\v1.0\;C:\Windows\System32\OpenSSH\;C:\Users\jesus\AppData\Local\Microsoft\WindowsApps;"

C:\vortex-0.10.20\bin>SET "GDAL_DATA=.\gdal\gdal-data"

C:\vortex-0.10.20\bin>SET "PROJ_LIB=.\gdal\projlib"

C:\vortex-0.10.20

[2021-05-04 13:49] tombrauer commented on #29
@PowIlove I tested your dataset. I see the grids coming in with dates.
https://user-images.githubusercontent.com/9610094/117013372-a8b54c80-aca4-11eb-8e21-030091d29d65.mp4

[2021-05-04 14:57] PowIlove commented on #29
i did the same that you but i continue having the same result i don't know why, just for know maybe i need have other components in my windows x64? or a special version of hec-dss?

[2021-05-04 16:18] tombrauer commented on #29
I've tried a few different things and I'm unable to reproduce. Maybe you can create a video so that I can see each step that you take.

[2021-05-04 22:17] PowIlove commented on #29
yeah of course i already put the video right now

https://user-images.githubusercontent.com/59849903/117076694-aaeec980-aceb-11eb-8260-a24a95957717.mp4

[2021-05-05 07:34] PowIlove commented on #29
I'm sorry for some reason the video got up incomplete, i upload the video again

https://user-images.githubusercontent.com/59849903/117109513-a4873e80-ad39-11eb-95c9-3bcf920c8848.mp4

[2021-05-07 01:20] PowIlove commented on #29
Hi @tombrauer excuse me again, but will be possible have like a little bit tutorial about as use of this tools, actuallity i'm working with the grid process for a project of my university in master degress level, so i would like as learn to use it, i hope that be possible, thanks for all

[2021-05-07 01:45] danhamill commented on #29
Is dss, could you have the pathnames condensed?

https://www.hec.usace.army.mil/confluence/rtsdocs/rtsum/3.2.1/using-hec-
dssvue/dss-pathnames

On May 6, 2021, nnk2193 ***@***.***> wrote:

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/HydrologicEngineeringCenter/Vortex/issues/29#issuecomment-
833989292>, or u

[2021-05-21 02:18] JesusT1995 opened #32 "tutorial vortex tools"
Hi dear developer

I was reviewing the vortex tool and I was wondering if there is a tutorial on how to run it without problems, because what happens is that when I try to use the "import" script it gives me errors and does not save any precipitation record (in this case I am working with that) I was wondering if I have to have requirements installed before I can use it as JDK or javafx or Gdal or

[2021-05-21 03:36] tombrauer commented on #32
Hi @JesusT1995, Thanks for reporting the NullPointerException. It doesn't appear to have any impact on program operation but good to avoid nonetheless. I fixed in v0.10.21: https://github.com/HydrologicEngineeringCenter/Vortex/releases/tag/v0.10.21

[2021-05-21 03:56] JesusT1995 commented on #32
Thanks that part if it was fixed, but now when I save the file to dss format it saves me a single record since I am working with NLDAS one-day precipitation information in grib format. I am using hec-dssvue 3.2.3 and the vorten version v0.10.21 that you indicated in the message. I attach a picture as evidence.

![image](https://user-images.githubusercontent.com/84552006/119079843-ce816780-b9ad-11e

[2021-05-21 13:07] tombrauer commented on #32
@JesusT1995 Can you upload one of your NLDAS grib files?

[2021-05-25 23:10] tombrauer commented on #29
@PowIlove what is the Locale setting of your system?
![image](https://user-images.githubusercontent.com/9610094/119579613-a6aa4f00-bd73-11eb-9d0b-aeb3ef456a68.png)

[2021-05-25 23:10] tombrauer commented on #32
@JesusT1995 what is the locale setting of your system?
![image](https://user-images.githubusercontent.com/9610094/119579653-baee4c00-bd73-11eb-80dd-40c159141e63.png)

[2021-05-25 23:37] JesusT1995 commented on #29
Hi @tombrauer is this
![image](https://user-images.githubusercontent.com/84552006/119581458-706ece80-bd77-11eb-98cd-2480d3a5927e.png)

[2021-05-25 23:38] PowIlove commented on #29
is this
![image](https://user-images.githubusercontent.com/59849903/119581520-94321480-bd77-11eb-9e36-f946548293f6.png)

[2021-05-26 00:35] PowIlove commented on #29
@tombrauer thanks so much finally i can to use the tool, if it was that part

[2021-06-15 17:58] PowIlove commented on #29
Hi dear @tombrauer i was working in vortex again and i was wondering if this tool supports other formats such as .asc i wanted to do some tests with it but I got this error
![image](https://user-images.githubusercontent.com/59849903/122100878-85fc7480-cdc8-11eb-8891-6e5c300ac58e.png)

I don't know if there is a solution for this error

[2021-06-15 18:32] tombrauer commented on #29
@PowIlove This issue seems unrelated to the one that was initially reported. Can you close this issue and create a new one?

[2021-06-15 18:34] #29 closed

[2021-06-15 23:27] PowIlove opened #34 "asc format"
@tombrauer  i was working in vortex again and i was wondering if this tool supports other formats such as .asc i wanted to do some tests with it but I got this error

![image](https://user-images.githubusercontent.com/59849903/122106520-e098cf00-cdce-11eb-8d04-e9899d5dc202.png)

[2021-06-16 16:16] tombrauer commented on #34
@PowIlove is there a *.prj file to accompany the *.asc file? From the stack trace it looks like the code is not finding a spatial reference.

[2021-06-17 17:19] PowIlove commented on #34
good morning @tombrauer I did not accompany the asc with a prj, the truth was I did not know that it was necessary, I will take it into account, I believed that only place the asc

[2021-06-25 14:32] hahabibi88 opened #36 "asc Format-File names"
I am trying to import several asci format rainfall data (not PRISM) to dss. The data is in 15 minutes time interval. The importer.exe works just fine and convert the data to dss but it doesn't fill out Part C, D and part E of dss file which are related to variable (like precipitation), and Start and End time. Is there any specific file name that I should use for asci format data? Thank you!

[2021-06-28 16:39] hahabibi88 commented on #34
@PowIlove I am trying to import several asci format rainfall data to dss. The data is in 15 minutes time interval. The importer.exe works just fine and convert the data to dss but it doesn't fill out Part D and part E of dss file which are related to Start and End time. Is there any specific file name that you used to import ASC format? Thank you!

[2021-06-29 20:50] PowIlove commented on #34
hello @hahabibi88 You know that I am also having the same problem at the moment, and I have not found the solution to this, as soon as I find something I will inform you. regards

[2021-06-30 01:46] joshuarwillis commented on #36
@hahabibi88 just make sure that the file names (.asc and .prj) contain the start time and end time in format "yyyy_MM_dd't'Hmm". For example, "2018_01_01t1100_2018_01_01t1115.asc" should import correctly.

[2021-06-30 02:09] hahabibi88 commented on #36
@joshuarwillis Thank you, Worked! Could you also let me know how to include "PRECIPITATION" in the Part C? should "ppt" included in a spatial way in the .asc and .prj filename?

[2021-06-30 02:55] joshuarwillis commented on #36
@hahabibi88 glad it worked. It doesn't look like there is a way to include PRECIPITATION as the C Part with your dataset currently. Do you mind sharing the source of your precipitation grids? We may be able to make improvements in future releases so that Vortex better handles other precipitation sources.

[2021-09-07 19:05] tanveerahmed-89 commented on #36
Dear good people, hope everyone is doing well. I am trying to follow the example provided for 15-minutes time interval and replicate the things for 1-hr time interval by changing the naming format of the ascii files like this: "2016_08_12t1200_2016_08_12t1300.asc". The importer.exe was able to convert the data into dss but unfortunately when I was trying to plot the data, the Grid Display is blank

[2021-09-07 19:28] hahabibi88 commented on #36
@tanveerahmed-89 I think you need to remove the "00" for the minute part. It probably will work with this format for 1-hr intervals: "2016_08_12t12_2016_08_12t13". try it.

[2021-09-07 21:44] tanveerahmed-89 commented on #36
@hahabibi88 thank you very much for your suggestion. I tried it. It solves the issue for grid display but now part D and part E i.e. "timestamp" of the DSS file are empty. If you have any other idea will be glad to know and try. Appreciate your help.

![image](https://user-images.githubusercontent.com/90053240/132414614-b180bbba-9944-4124-ad0c-99de52428b43.png)

[2021-09-10 21:51] hahabibi88 commented on #36
@tanveerahmed-89 I just tested with "00", it is working, see the image bellow!
![image](https://user-images.githubusercontent.com/47610832/132921348-61b1471a-708b-4869-ac55-fe2dd59ea9b6.png)

This is the file name, I tried.
2016_08_12t1200_2016_08_12t1300.asc
2016_08_12t1200_2016_08_12t1300.prj

[2021-09-20 15:33] msgthrows opened #45 "Gradle build missing task in Vortex root"
Hello,
I thought the issues were on my end when building the API, but there is nothing left to try on my end. I am getting the following message on a Windows 10 computer and looking at the Vortex folder I can't find any reference to "final" other then the build file. It seems to be missing.
"""
FAILURE: Build failed with an exception.

* Where:
Build file 'C:\Users\\[ME]\Vortex-master\build.gradle

[2021-09-20 16:54] tombrauer commented on #45
The `final` task should be coming in with the `nebula-release` plugin that is declared in the `plugins` block at the top of the build script. It is as if the plugin is not correctly loading on your system. You could try a `gradlew --refresh-dependencies` or clearing the gradle cache to see if that resets the plugin.

As a work around you could comment out the lines that depend on the `nebula-relea

[2021-09-20 18:18] msgthrows commented on #45
Thanks! Looks like there were a couple package updates needed on the first test, but it looks like it is working!

[2021-09-20 18:43] tombrauer commented on #45
Ok, good to know!

[2021-09-20 18:43] #45 closed

[2021-11-05 16:48] hydrouser commented on #36
I have really no explanation, why import works for some file names (e.g. the files cited above). I change the filename to "1999_08_12t1200_1999_08_12t1300" and filling part D and part E won't work anymore.
Is there any workaround?
Thanks for the effort

[2021-11-23 17:53] danhamill opened #50 "cant find gdal_KEA.dll"
I am scripting against the vortex api and setting up my environment like:

[code]

and I am getting errors during the imports at the top of the jython script.

[code]

[2021-11-23 19:18] danhamill commented on #36
I tried the suggested `2016_08_12t1200_2016_08_12t1300.tif` file name structure for a GTIFF file and could not get the partD/PartE to populate correctly.  I ended up finding you an add `precip_` as a prefix to the start and end dates for the grid worked.  Something like: `precip_2016_08_12t1200_2016_08_12t1300.tif`

This is similar to #18

[2021-11-23 19:57] tombrauer commented on #50
This error is non-consequential for Vortex because we are not typically dealing with KEA files. You can delete the line that sets the GDAL_DRIVER_PATH variable from your batch script, and the error should go away. Vortex doesn't use the KEA plugin, or any other GDAL plugins, so setting the GDAL_DRIVER_PATH isn't neccesary.

[2021-11-23 20:00] danhamill commented on #50
Ok, thanks.  I was also questioning why we needed `GDAL_DRIVER_PATH`.

Everything from the import process appears to be correct.

[2021-11-23 20:00] #50 closed

[2021-12-03 16:20] steezbert opened #51 "GeoTiff raster stack processing"
Hey all,

I am working with high temporal resolution precipitation raster data time series and was wondering if there is a way to process raster stacks with vortex in batch mode.
I am currently using ASCII files and the HEC asc2dssGrid.exe and vortex to get my gridded data into the HEC DSS format.
I also figured out how to use vortex with GeoTiff files. However both methods are a huge bottleneck t

[2021-12-03 18:10] tombrauer commented on #51
Hello @steezbert - thanks for reaching out.

Vortex can read ASC and GeoTIFF rasters. For a few commonly used data sources, e.g. PRISM and QPF, we have added parsing logic that extracts start and end times from the file name and applies them to the DSS record that is generated. For non-standardized datasets, as yours appears to be, you will have to implement logic to explicitly set start time and

[2021-12-03 18:48] steezbert commented on #51
Hey @tombrauer - thanks for your quick reply.

Putting the import into the loop might help. I will do some more testing tomorrow, it's been a long day.
Attached you find some single layer GeoTiffs and one raster stack GeoTiff for testings.

Thanks for your help!

[Test_Data.zip](https://github.com/HydrologicEngineeringCenter/Vortex/files/7651729/Test_Data.zip)

[2021-12-06 17:07] danhamill commented on #51
@steezbert I believe the batch processing jython tools are designed to populate part D and partE for you.  If you specify those values from your jython script, it makes sense it will overwrite each record.  I use `write_options` to specify static portions of the dss path names (e.g., partA, partB, partC, partF, units, dataType).

From testing I have found file paths in this structure will be corre

[2021-12-06 18:12] steezbert commented on #51
Hey @danhamill,

thank you for the tip with the file names! I will test that later.
Found out how to use write options to set every pathname:

`

    from mil.army.usace.hec.vortex.io import BatchImporter
    from mil.army.usace.hec.vortex.geo import WktFactory
    from mil.army.usace.hec.vortex import Options

    from glob import glob
    from os import path
    from datetime import datetime, ti

[2021-12-06 19:19] danhamill commented on #51
+1 for the suggestion to allow for processing a list of raster's using a list of write options.  I like the idea of being able to specify each grid path name with out having to find a way to have vortex determine the timestamps.

The code you shared imports on a grid-by-grid basis, which requires a JVM instance for grid.  Vortex is designed to read all grids into memory, then process them in paral

[2021-12-07 22:24] tombrauer commented on #51
@steezbert I added [documentation](https://github.com/HydrologicEngineeringCenter/Vortex/wiki/Batch-Import-Options) that enumerates all of the geoprocessing and write options available when using the batch importer. I also added [documentation](https://github.com/HydrologicEngineeringCenter/Vortex/wiki/Raster-Filename-Parsing) that better describes what to expect from filename parsing, including d

[2021-12-07 22:25] tombrauer commented on #51
@danhamill As of [v0.10.25](https://github.com/HydrologicEngineeringCenter/Vortex/releases/tag/v0.10.25) you shouldn't have to specify "precip" in the file name to get the dates to import properly. I tested and verified. If you can test as well, I would appreciate it!

[2021-12-08 10:45] steezbert commented on #51
@tombrauer thank you very much for the update!

I tested the new version with different date formats and prefixes and could not find any issues.
Not needing a variable list is nice as well. All this makes data processing so much easier!
Only thing left now is raster stack GeoTiff processing, maybe one day ;)

The updated documentation is really nice as well. This should help others in understandin

[2021-12-08 16:20] tombrauer commented on #51
@steezbert sure thing! A note on DSS - if the file does not exist previously, vortex will create it as DSS7. If you would like for the file to be DSS6, you can create the DSS file as version 6 prior to the vortex write, and the grids will be written to the DSS6 file. In theory HMS should run with 6 or 7 files. We plan to do more thorough testing this year before calling the DSS 6 to 7 migration fi

[2021-12-14 23:28] PowIlove opened #52 "Java.io filenotfoundexception in NLDAS file"
Hello @tombrauer nice to meet you again, i'm having problems again with tools vortex, in this ocassion, i'm working with NLDAS files but the moment to use the tools, appear this mistake:
[mistake vortex.txt](https://github.com/HydrologicEngineeringCenter/Vortex/files/7715351/mistake.vortex.txt)
i put all the line of text tha appear in the code in a notepad file.

[2021-12-14 23:31] #51 closed

[2021-12-14 23:33] tombrauer commented on #36
Hopefully this [documentation](https://github.com/HydrologicEngineeringCenter/Vortex/wiki/Raster-Filename-Parsing) helps clarify expectations for date parsing in file names.

[2021-12-14 23:36] tombrauer commented on #52
Hi @PowIlove
Troubleshooting measures:
1. Does `C:\Users\jesus\OneDrive\Documents\Bases de datos\NTFC_ONE DAY\NLDAS_FORA0125_H.A20110818.1000.002.grb.SUB.grb` exist on your machine?
2. Try moving your grib file to a location like `C:/Temp/NLDAS_FORA0125_H.A20110818.1000.002.grb.SUB.grb`

[2021-12-15 01:02] PowIlove commented on #52
thanks so much already i can to get the files, i will close the topic

[2021-12-15 01:02] #52 closed

[2021-12-15 01:25] PowIlove opened #53 "tif format problem (one record)"
hi again @tombrauer right now i'm having problems with tif formats. i'm working with CHIRPS files i'm trying of create one archive dss with daily dates of one month (adjunt of ss of this archives) also the code in a notepad that throws me and result of dss archive in HEC-DSS

![image](https://user-images.githubusercontent.com/59849903/146105244-5ca12e99-2d52-4da2-adaf-beff04cc625a.png)

[notepad t

[2021-12-15 01:54] tombrauer commented on #53
@PowIlove take a look at this [documentation](https://github.com/HydrologicEngineeringCenter/Vortex/wiki/Raster-Filename-Parsing). Try using the ISO-8601 date format in your file names.

[2021-12-15 17:50] danhamill opened #55 "java.lang.RuntimeException: java.lang.RuntimeException: OGR Error: General Error"
With this grid [UTQI_SM_030m_roff_2003_04_10.zip](https://github.com/HydrologicEngineeringCenter/Vortex/files/7721626/UTQI_SM_030m_roff_2003_04_10.zip) I am trying to import to dss and get the following traceback:

[code]

The source grid is in [EPSG 32604](https://epsg.io/32604).  The nedcdf file originated from [SnowModel](https://github.com/jupflug/SnowModel) and does not follow the CF metadata

[2021-12-15 23:57] tombrauer commented on #55
A troubleshooting measure: Do you have any errors if you use gdal_translate to go from NetCDF to say, GeoTIFF?

[2021-12-16 00:19] danhamill commented on #55
No errors.  `gdalsrsinfo` appears to be the same for the `.nc` and `.tif` file formats

[code]

[2021-12-16 01:15] tombrauer commented on #55
I added handling for the transverse mercator projection. There was none there previously and given that no one has reported this before, I suspect it's not that common for distributing scientific data.

The projection parameters look correct for the imported grid:
![image](https://user-images.githubusercontent.com/9610094/146289459-3c5b39d7-5aa6-4f00-acd7-fd853ca74ba8.png)

The grid data looks lik

[2021-12-16 01:23] danhamill commented on #55
Thanks Tom!

[2021-12-16 01:28] tombrauer commented on #55
I added an rc release [here](https://github.com/HydrologicEngineeringCenter/Vortex/releases/tag/v0.10.27-rc.1) if you want to test.

[2021-12-16 05:41] danhamill commented on #55
Thanks Tom. 

The data are from the north slope of Alaska.  It’s not surprising that
most people don’t use that projection.  I wonder how accurate utm grids
are that far north.  

I’ll report back on our tests.   

On December 15, 2021, nnk2193 ***@***.***> wrote:

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/Hydrolog

[2021-12-21 23:25] danhamill commented on #55
Tests are looking good!

[2021-12-21 23:25] #55 closed

[2022-01-03 23:32] PowIlove commented on #53
Hello again @tombrauer i have been working ultimatly with two different types of files (CHIRPS & NLDAS) into of vortex tools, but i noted something; for example in the part C of CHIRPs the file not describe the type of climate field (precipitacion, radiation, temperature etc ..) but in NLDAS if describe this types of climate field, but in NLDAS the part of range of time in D & E, isnot exactly as

[2022-01-04 01:01] tombrauer commented on #53
@PowIlove is this related to the original issue, or is this a new issue?

[2022-01-04 01:11] PowIlove commented on #53
is related to original issue, i was able modify the format of archive to thanks to norms, but i'm having this problems now

[2022-01-04 01:18] tombrauer commented on #53
@PowIlove please upload your tif files.

[2022-01-04 01:26] PowIlove commented on #53
[January_1981.zip](https://github.com/HydrologicEngineeringCenter/Vortex/files/7804825/January_1981.zip)

uploaded done, thanks for review

[2022-01-21 01:35] RandomPunter opened #56 "Include batch import "write options" in importer.exe"
Hi @tombrauer,
Being in Australia, all of my raster data is non-standard, from a Vortex point of view. It would seem that the batch import functionality offers a solution in that I could invoke the various write options for my data. Apart from not being great with scripting (although I'm sure I could unpuzzle it given sufficient time), my work PC is locked down tight and it is not possible to get

[2022-01-21 03:19] tombrauer commented on #56
Hi @RandomPunter - Have you tried running your data through importer.exe? We've tested on so many datasets over the years sometimes it is surprising what it gets right, even if the data is non-standard. If it doesn't bring it in, I'd be curious to see how far off it is.

[2022-01-21 04:01] tombrauer commented on #53
I added logic in [0.10.27-rc2](https://github.com/HydrologicEngineeringCenter/Vortex/releases/tag/v0.10.27-rc.2) that extracts the C Part from the filename, if it can't be extracted elsewhere. This allows the data you've posted to be imported with a "PRECIPITATION" C Part.

[2022-01-21 04:12] RandomPunter commented on #56
Thanks for the prompt reply. Yes, I have tested many different kinds of file name permutations on .asc and .tif. Generally what happens is that the importer does not recognise a common variable (in my case, "precip"), and so each file is imported separately.

![image](https://user-images.githubusercontent.com/98135176/150464311-c86cc741-a5d2-4f1f-85e0-362457b6d39d.png)

![image](https://user-image

[2022-01-21 04:38] tombrauer commented on #56
This actually looks correct. Each tif file translates to a gridded record within the DSS file. To make HEC-HMS happy, you can batch rename the C Part in HEC-DSSVue by selecting all of the files, right-click, rename. You might also try the [v0.10.27-rc.2](https://github.com/HydrologicEngineeringCenter/Vortex/releases/tag/v0.10.27-rc.2) build I just posted which should auto-extract the DSS C Part fr

[2022-01-21 16:41] danhamill commented on #53
Nice!  Also relates to #18

[2022-01-21 16:46] tombrauer commented on #53
@danhamill Good to know. I was looking at open issues and it seems like this will help with a number of them. Editing the C-Part in DSSVue after import is not too difficult, but this will provide even more automation, which is what the vortex users have come to expect :)

[2022-01-28 14:54] tharunpalla opened #57 "Issue with running a script using Jython"
I am unable to run the met_data_import.bat file with the following settings: I have installed Jython and have Java11 in my classpath

[code]

The following is the error:

[code]

[2022-02-03 20:05] openSourcerer9000 commented on #57
Hm I can recreate this by pointing VORTEX_HOME to "vortex-master" the whole folder of this repo I downloaded from Github. If I point it to the root folder of this specific version I downloaded it works fine [https://github.com/HydrologicEngineeringCenter/Vortex/releases/tag/v0.10.27-rc.1](https://github.com/HydrologicEngineeringCenter/Vortex/releases/tag/v0.10.27-rc.1)

Not sure if this makes a di

[2022-02-03 21:31] danhamill commented on #57
I also think you don't need to set a `PYTHONPATH` in the batch file.

[2022-02-04 03:04] tharunpalla commented on #57
Thanks Tom, I was using the path of the vortex source code. I updated the path to the vortex distribution package and was able to run the bat file.

[2022-02-04 03:04] #57 closed

[2022-02-04 03:05] tharunpalla commented on #57
Issue was resolved

[2022-02-05 02:10] tharunpalla opened #59 "Error converting Grib2 to DSS using vortex scripts"
Hi,

I am trying to convert grib2 rainfall data to DSS format. I have written a script to fetch the grib2 files from 'https://nomads.ncep.noaa.gov/cgi-bin/filter_nam_conusnest.pl?dir=%2Fnam.20220204' and then used vortex to convert to DSS files.

I am currently getting the following error:

![image](https://user-images.githubusercontent.com/20412132/152624810-ad51abeb-db18-43b6-9170-d9f753a837ac.p

[2022-02-07 14:37] tombrauer commented on #59
@tharunpalla Did you test importing a sample file using the vortex user interface prior to attempting to script?

[2022-02-07 14:38] #56 closed

[2022-02-07 14:38] tombrauer commented on #53
Marking as closed.

[2022-02-07 14:39] tombrauer commented on #36
Marking as closed.

[2022-02-07 14:39] #36 closed

[2022-02-07 15:44] tharunpalla commented on #59
Yes, I had imported using the interface prior running via script.

[2022-02-07 16:15] tombrauer commented on #59
If the user interface works, and the script does not, there is likely an issue with your script. Can you upload a sample of your data?

[2022-02-07 16:52] tharunpalla commented on #59
Please find the grib2 files attached. I am trying to convert the attached grib2 to dss
[grib2.zip](https://github.com/HydrologicEngineeringCenter/Vortex/files/8017128/grib2.zip)

[2022-02-07 20:26] tombrauer commented on #59
@tharunpalla Can you test the file separator suggestion the @danhamill provided. This is a very common issue in Jython scripting.

[2022-02-07 23:43] #34 closed

[2022-02-09 05:20] tharunpalla commented on #59
Hi @tombrauer  and @danhamill, I have tried modifying the location string for shp file according to the suggestion but I am getting the same error.

Although, when I use a single variable as below

[2022-02-09 22:25] danhamill commented on #59
I think that makes sense.

Since .grib2 are self-describing data, you would only need select one variable (if they are all the same type of data).

[2022-02-15 20:13] tharunpalla commented on #59
Thank you.

[2022-02-15 20:13] #59 closed

[2022-03-07 16:41] ryanjcahill opened #60 "University of Arizona Daily SWE Grid Import Dates"
Vortex works great when importing University of Arizona SWE grids for the period where they are stored as daily data, with a single file for the entire year.

e.g.
https://climate.arizona.edu/data/UA_SWE/DailyData/2015/UA_SWE_Depth_WY2015.nc

After 2020, University of Arizona is only publishing datasets with a different .nc file for each day. When I try to import these with Vortex, the dates get a

[2022-03-07 18:57] danhamill commented on #60
I have come across this before and am also curious what exactly `vortex` needs to work in this case.  I suspect it cant infer a temporal frequency when the time variable only has one value.

To overcome this issue, I see two possible work arounds:
1. Use [BatchImporter](https://github.com/HydrologicEngineeringCenter/Vortex/wiki/Batch-Import-Options) jython script and specify `partE` and `partD` in

[2022-03-07 20:14] danhamill opened #61 "BatchImporter with dataType in write_options results in blank partE"
I am working on importing hourly grids of temperature I have formatted to follow the geoTiff naming conventions.  Sample data provided here:

[precip_2005_10_01T0000_2005_10_01T0100.zip](https://github.com/HydrologicEngineeringCenter/Vortex/files/8200507/precip_2005_10_01T0000_2005_10_01T0100.zip)

If I do not specify `dataType` in the write_options, The data are imported with dataType of PER-CUM.

[2022-03-09 19:32] ryanjcahill commented on #60
Thanks Dan, got it!

[2022-03-10 02:01] PowIlove opened #62 "Clipping data with shp"
hi @tombrauer its a pleasure to see each other again, i have other problem, this time is with clipping datasource, i was triying to clip my SHP of my watershed with that i'm working in my research and found this mistake, i adjunt the notepad with the error code.

PD: i was using the vortex version v0.10.27-rc.2 and files NLDAS type in format netCDF.

Regards.

[clipping error.txt](https://github.c

[2022-03-11 15:50] tombrauer commented on #60
This issue is very similar to: https://github.com/HydrologicEngineeringCenter/Vortex/issues/13

I just tested the file from 01-Oct-2020 and could not reproduce. Everything comes in fine. See interaction video:

https://user-images.githubusercontent.com/9610094/157900788-8a060515-0933-4615-bf0d-790a0b6be8f4.mp4

I used Vortex v0.10.27 and HEC-DSSVue v3.2.9. I tested DSS file versions 6 and 7. No pr

[2022-03-11 15:59] ryanjcahill commented on #60
Yes, my issue was that I had renamed the file to something like "UnivArizSWE_01.nc" and tried to import it via Vortex. If I tried to run Importer on that file, it failed with the weird dates. The file had to be named exactly "01.nc" for the importer to work, which took a while for me to figure out.

[2022-03-11 16:10] tombrauer commented on #60
Going back to this [comment](https://github.com/HydrologicEngineeringCenter/Vortex/issues/13#issuecomment-694640092), it looks like the NetCDF library that Vortex depends on was struggling to parse the dates in the NetCDF file. My guess is that there is only a single date on the time axis and the library was assuming there would be >1 to derive start and end dates.

The NetCDF library is out of my

[2022-03-11 16:51] tombrauer commented on #61
The E-part should be empty for INST-VAL grids. I would try renaming your rasters so that only one date time stamp is included in the name. This will avoid the conflicting instructions to be both an INST-VAL grid AND include an E-part.

For the INST-VAL Grid Info, the Start Time should match the D-part and the End Time should either be equal to the Start Time or should be some null value that corre

[2022-03-11 16:58] tombrauer commented on #62
Hi @PowIlove, I see the errors in your trace about a corrupted shapefile. I don't think Vortex is at issue here, rather I think the shapefile is bad for some reason. Are you able to open and view the shapefile in a GIS like QGIS?

[2022-03-11 21:28] PowIlove commented on #62
yes, you're right, i review me shapefile in QGIS and found that don't appeared, check out it for yourself
![image](https://user-images.githubusercontent.com/59849903/157971975-ebabc9e9-1805-44d4-a3b8-9190a40e687c.png)

and later i checked in arcmap and look this error message
![image](https://user-images.githubusercontent.com/59849903/157972151-08356fa1-42b5-41db-ab1c-af0f4c86e8d1.png)

my file is

[2022-03-11 22:15] #62 closed

[2022-03-14 15:54] danhamill commented on #61
Good to know.  Thanks for the advice.

[2022-03-21 02:40] PowIlove opened #63 "Range in Temperature files through NLDAS data"
Hi @tombrauer , in this occasion i'm having details with temperature dss files: i found a unusual detail with ranges of dates in the files into dss file, attached a picture to one better interpretation

![image](https://user-images.githubusercontent.com/59849903/159198627-48ca11b6-7220-416d-992f-b517110ec339.png)

Regards.

[2022-03-29 14:33] Shamsalamin opened #64 "Importing ASCII Files to DSS"
I am trying to use the importer.exe to import a set of ascii files and create a DSS file for HMS. The DSS at the end of the importing steps give this message "There are no records in the HEC-DSS file". For ASCII file type are there any recommended steps to follow?

[2022-03-29 21:37] tombrauer commented on #64
I recommend reviewing [Raster Filename Parsing](https://github.com/HydrologicEngineeringCenter/Vortex/wiki/Raster-Filename-Parsing). Additionally, be sure projection files are included for each ASC file.

[2022-03-29 21:39] tombrauer commented on #63
@PowIlove from the image you have provided, I don't see any issues. Temperature data is usually INST-VAL. By convention, INST-VAL grids have a D-part and no E-Part. The C-Part is "TEMPERATURE".

[2022-04-07 20:36] derekstuart commented on #60
I am having some similar date issues with NC4 precipitation data.  The input datasets have filenames like "NWRFC_2017-12-31T2300_to_2018-01-01T0000.nc4" and "NWRFC_2018-01-01T0000_to_2018-01-01T0100.nc4", but the dates in PARTD and PARTE are JAN012066:0000 and DEC311969:2400 respectively.  I'm considering scripting these in one file at a time and hard coding PARTD and PARTE in a similar manner to

[2022-04-13 00:02] tombrauer commented on #60
@derekstuart Do you mind uploading a sample file so that I can take a look?

[2022-04-13 01:08] derekstuart commented on #60
Hello Thomas.
Here are two .nc4 files.  These were downloaded from "
http://hydrology.nws.noaa.gov/aorc-historic/AORC_NWRFC/" and correspond to
the first and second hours of January 1, 2018.

I've tried tinkering with the filenames based on the format used for
GeoTIFF imports.

Thank you,

Derek

On Tue, Apr 12, 2022 at 5:02 PM Thomas Brauer ***@***.***>
wrote:

--
Derek

[2022-04-13 18:36] derekstuart commented on #60
Just uploaded the files.

[2022-04-19 04:04] #63 closed

[2022-05-02 19:38] openSourcerer9000 opened #65 "Jython docs for all tools (timeshifter, transposer, etc)"
Good afternoon,

There is complete documentation on the Jython API for the Importer tool, and it appears some docs on sanitizer etc, but I would like to request a complete Jython API documentation for the rest of these tools.

It seems the whole functionality is exposed through Jython, and I'm able to dir() my way through one object at a time, but it's a tedious process without a roadmap.

[2022-05-03 13:34] openSourcerer9000 commented on #65
This is the general pattern for time-shifter. Doc strings for each method will be helpful as well,

[code]

[2022-05-04 02:19] derekstuart commented on #60
I found that using different filename format resolves the date import issues I was having.  The NetCDF format is different than the TIF format.

[2022-05-31 20:58] openSourcerer9000 opened #69 "Importer skipping timesteps"
[code]

![image](https://user-images.githubusercontent.com/61931826/171281835-d83775f0-2b8f-438f-b45a-62fb613542e4.png)
![image](https://user-images.githubusercontent.com/61931826/171281905-3304a59b-0f5c-4f73-9f18-9a8c6cf0a2bb.png)
[InputData.zip](https://github.com/HydrologicEngineeringCenter/Vortex/files/8809397/InputData.zip)

[2022-06-02 16:14] danhamill commented on #69
I was also able to reproduce this issue.  There should be 745 records, but vortex only imported 741:

[code]

[2022-06-02 19:03] openSourcerer9000 opened #70 "Projection issues for rc.4 and rc.5 releases"
So I'm getting a weird issue with v rc.4 where it's writing the horizontal units for Albers SHG as 'metre', as opposed to 'Meters', as previous versions have done.
![image](https://user-images.githubusercontent.com/61931826/171708109-4888eccd-082b-4535-991c-9f94df606b57.png)

The problem is, when using this precipitation DSS into HEC-RAS, it hits a runtime error from PROJ complaining about an inva

[2022-06-02 21:37] openSourcerer9000 commented on #70
Great, thanks. I tested on rc.3 and it had the same 'metre' quirk, rolling back to 10.27 it generated them correctly.

[2022-06-02 22:05] tombrauer commented on #69
I'm looking at Delta2020.nc in Panoply Viewer and the time axis seems to have some discontinuities:

[2022-06-02 22:29] tombrauer commented on #70
I created a new version that adds `WktFactory::shg` back into the API. Test [v0.10.28-rc.6](https://github.com/HydrologicEngineeringCenter/Vortex/releases/download/v0.10.28-rc.6/vortex-0.10.28-rc.6-win-x64.zip)

I also tested v0.10.28-rc.5 and only observed AlbersInfo/SHG grids being written with projection units as "Meter".
![image](https://user-images.githubusercontent.com/9610094/171748503-d74f

[2022-06-04 10:59] tombrauer commented on #60
@derekstuart I tested and can confirm the issue you encountered with the NWRFC NetCDF file is the same as that is encountered with the UA SWE NetCDF file. The root cause is that `CoordinateAxis1DTime::getCoordBoundsDate` returns non-sensical dates when the length of the time axis is equal to 1, as is the case in both of these files. I created an issue in the netcdf-java repo: https://github.com/Un

[2022-06-08 20:56] danhamill opened #72 "Replace DSS files?"
using release v0.10.28-rc.6 I am getting prompted by windows that an existing dss file will be replaced.

![image](https://user-images.githubusercontent.com/11522898/172715382-f0e8f0fb-45b4-4f95-8b06-af637cec01c7.png)

Does that mean vortex is now overwriting a pre-existing dss file?

[2022-06-08 21:16] danhamill commented on #16
Just tested on [v0.10.28-rc.6](https://github.com/HydrologicEngineeringCenter/Vortex/releases/tag/v0.10.28-rc.6) and the dss records are not tracked during import.

![image](https://user-images.githubusercontent.com/11522898/172718523-6b89fee7-c407-4fb6-a070-9727d597b343.png)

![image](https://user-images.githubusercontent.com/11522898/172718727-e786ad8c-b6e3-49c7-bc24-bc1b922b74fc.png)

Wasn't th

[2022-06-09 17:06] openSourcerer9000 commented on #69
Mmmm so `valid_time` is important? I was doing everything by coord var `time`, including interpolating some gaps, which seemed to have dropped the values of the auxillary coords for those timesteps. I'll fill out `valid_time` and hopefully that clears up the consistent timestep drops.

I think I'll add `legit_time_yo` and `@therealtimeauxillarycoordvar` as well just to cover all the bases.

[2022-06-09 21:12] tombrauer commented on #72
I changed from an Open file dialog to a Save file dialog. With a Save file dialog you can specify a file that does not exist. With an Open file dialog, the file must exist to be selected. With the Save file dialog, there is an overwrite warning prompt if the file already exists. In this case only records that previously exist in the DSS file will be overwritten, otherwise the existing DSS file wil

[2022-06-09 22:24] danhamill commented on #72
I think a save dialog is best.  I always got frustrated with open dialog.  I would use the open dialog navigate to the root I wanted to save the file in, copy the path, close the open dialog, then paste and complete the filename in the vortex UI.

For a long time, I did not think vortex could create new dss files.  A save dialog makes that option easier to understand.

[2022-06-09 22:24] #72 closed

[2022-06-10 17:25] openSourcerer9000 commented on #70
I tried the latest version and actually wasn't able to get it working at all.

Importer just creates a blank DSS and then after a while prints out
`DSS File inactivity time out; file released`
over and over until I kill the process.

[2022-06-10 19:10] tombrauer commented on #70
Which DSS file version are you writing to?

[2022-06-10 19:28] openSourcerer9000 commented on #70
Whatever the default is, I'm just letting it create a new one (using Jython, it seems you need to create your own blank DSS when running the standalone GUI, while through Jython or the version bundled in HEC HMS I don't think you have that issue.)

[2022-06-10 19:45] danhamill commented on #70
I saw the behavior where the importer failed to open the dss file.  I was not that good at tracking down what exactly caused it, but I would see vortex is waiting for a file handle and got stuck.  I was also asking vortex to create a new dss file.  I got around the issue by initializing the dss file before I ran importer.

When using the jython scripting, I usually add an extra step to the batch f

[2022-06-10 19:56] tombrauer commented on #70
There is a bug in the javaHeclib v7-HK dependency. When writing to DSS v7, the library enters multi-user access mode and gets bogged down to the point records are never written. I'm updating the dependency now. I'll comment here when a new build is ready.

[2022-06-10 20:13] tombrauer commented on #70
The library update is in v0.10.28-rc.7. With the library update to javaHeclib 7-IG you should be able to preform sequential write to DSS v7 as well as DSS v6 files. If no file exists, a DSS v7 file will be created by default. Please test in the [latest version](https://github.com/HydrologicEngineeringCenter/Vortex/releases/download/v0.10.28-rc.8/vortex-0.10.28-rc.8-win-x64.zip).

[2022-06-15 21:34] openSourcerer9000 commented on #69
Yes, duplicated the `time` coordinate to `valid_time` cleared that up. It still randomly skips timesteps, so I will go ahead and leave this open, but I am at least able to work around that by rerunning importer until it fills out the DSS.

[2022-06-15 21:45] danhamill commented on #69
@openSourcerer9000 are you generating these netcdf files your self?

[2022-06-16 22:28] tombrauer commented on #16
@danhamill please test [v0.10.28-rc.9](https://github.com/HydrologicEngineeringCenter/Vortex/releases/download/v0.10.28-rc.9/vortex-0.10.28-rc.9-win-x64.zip) I added no data handling to the `NetcdfDataReader` class.

I'm not sure when the max/min/mean was added to the `GridInfo`. For all I know it's been there all along, but I haven't paid very close attention. I did just update some DSS dependenc

[2022-06-22 18:53] danhamill commented on #69
Once idea I had to help define the NETCDF structure required to vortex to properly import to DSS is to develop an additional utility that will convert a dss file to NETCDF format.  This would provide a straight forward approach to users developing their own NETCDF files.  Might be outside the scope of Vortex, but I personally find the CF conventions hard to follow since many datasets only partiall

[2022-06-22 21:58] tombrauer commented on #69
I designed Vortex with this in mind. You'll notice that the option to specify pathname parts only become available after a file is selected. So, if you were to select something like a *.nc file for output, you may see options related to that file type. To add NetCDF write capability to Vortex a `NetcdfDataWriter` implementation would need to be added that extends `DataWriter`.

[2022-06-23 00:05] danhamill opened #73 "extend DataWriter for NetcdfWriter"
moving from #69

## Request dss to netcdf converter

## Response

[2022-06-24 13:39] tombrauer commented on #69
@openSourcerer9000 I can't reproduce the timestep skipping issue. Do you have a dataset that reliably reproduces?

[2022-06-29 18:48] danhamill opened #74 "Importer fails in 0.10.28-rc.10 : ERROR 1: Attempt to create -1x21 dataset is illegal,sizes must be larger than zero."
Using [vortex-0.10.28-rc.10](https://github.com/HydrologicEngineeringCenter/Vortex/releases/download/v0.10.28-rc.10/vortex-0.10.28-rc.10-win-x64.zip) I cannot import, clip, and reproject using `importer`.

## importer params:

| Option| Value|
|:-|:-|
|grid| MRMS_GaugeCorr_QPE_01H_00.00_20191001-050000.grib2|
|projection|SHG|
|resolution|2000-meters|
|resample method| bilinear|
|clip shape|SL_Wate

[2022-06-30 10:42] tombrauer commented on #74
Without digging in to it, I'm guessing it has to do with the shapefile that is used for the clip. What projection is the shapefile in?

[2022-06-30 16:15] danhamill commented on #74
I was kind of thinking that too, but I couldn't find anything wrong with it.  The shapefile is in SHG.

Things i did:

- inspect geometry shape: it is of type polygon (no tiny holes or multipolygon geometry)
- validate geometry: the line string contained in the polygon geometry starts and ends at the same coordinate (e.g., geometry is valid)
- plotted the shapefile is several platforms and everyth

[2022-07-01 12:18] tombrauer commented on #74
When I plot your shapefile in QGIS, it looks like this:
![image](https://user-images.githubusercontent.com/9610094/176892634-c17d70d2-7b04-4668-a283-315e08edef31.png)
This is with 0.0 rotation. Note: I added your shapefile first, so QGIS would adopt the CRS of the shapefile.

[2022-07-01 12:24] tombrauer commented on #74
For SHG, latitude of false origin (false northing) should equal 23 and longitude of false origin (false easting) should equal -96. Yours is at 0, 0.

[2022-07-05 17:48] danhamill commented on #74
Thanks for looking into this shapefile issue.  Looks like I have become a little too comfortable with the cached user-defined crs in qgis.

So this is what I know SHG to be:

[code]

The parameter key values are a bit different than my comment above, but I interpret your "latitude of false origin" to be "Latitude of Origin" and "longitude of false origin" to be "central meridian" in the WKT shown

[2022-07-05 22:06] danhamill commented on #74
yes, I just tested with a co-worker using 0.10.29

[2022-07-05 22:06] #74 closed

[2022-10-19 15:02] kjslover opened #78 "Compression Method in DSS file"
Not sure if an issue or incompatibility.  Using the updated release (0.10.31-rc.1), the importer will import TIF formatted rasters as "ZLIB Deflate (26)", which subsequently cannot be read by HMS 4.8.  Reverting back to the older release (0.10.27-rc.2), the first raster imported would be imported as "ZLIB Deflate (26)", but subsequent rasters would import as PRECIP_2_BYTE, which can be read by HMS

[2022-10-20 00:34] tombrauer commented on #78
@kjslover can you send a handful of your rasters for me to test with? I'm guessing this has to do with the DSS library update that happened between versions but can't be sure without testing. Tagging @ktarbet FYSA.

[2022-10-20 12:48] kjslover commented on #78
[MRMS_2016-08-09T1400_to_2016-08-09-1500.zip](https://github.com/HydrologicEngineeringCenter/Vortex/files/9830133/MRMS_2016-08-09T1400_to_2016-08-09-1500.zip)
@tombrauer Just uploaded a ZIP file here.  Let me know if if you can't get them and I can send them using my OneDrive

[2022-10-21 02:11] tombrauer commented on #78
@kjslover I took a look at the rasters and things look ok. Can you send your HEC-HMS project with the failing grids?

[2022-10-21 16:45] tombrauer commented on #78
@kjslover I opened the DSS file, but there are not records.

[2022-10-21 16:48] kjslover commented on #78
@tombrauer Apologies... not sure how that happened.  See attached
[Tangipahoa_GridPrecipDSS.zip](https://github.com/HydrologicEngineeringCenter/Vortex/files/9840929/Tangipahoa_GridPrecipDSS.zip)

[2022-10-21 16:55] kjslover commented on #78
@tombrauer Sounds good... thanks for your help Tom!

[2022-11-02 00:47] danhamill opened #79 "Bad Zenodo Reference"
When pulling the reference for Vortex, Daniel Black's name is not properly being populated in [zenodo](https://zenodo.org/record/7058647).

I have found fixing those things on zenodo to be pretty challenging, but maybe you know a magic trick.